DEBUG=True
SECRET_KEY=secret
DB_NAME=db
DB_USER=user
DB_PASSWORD=pass
DB_HOST=localhost
ALLOWED_HOSTS=localhost
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=111
EMAIL_HOST_USER=*
EMAIL_HOST_PASSWORD=*
SMS_EMAIL=email
SMS_KEY=key
BOT_TOKEN=token
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''

CHECKOUT_SUCCESS_URL=''
CHECKOUT_FAILED_URL=''
